<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Info</title>
  </head>
  <body>
    <form id="formElem">
      Profile Image : <input type="file" name="image" accept="image/*" />
      <br />
      nickname:
      <input
        type="text"
        name="nickname"
        value="{{userData.nickname}}"
        placeholder="nickname"
      />
      <br />
      user_id :
      <input
        id="user_id"
        type="text"
        value="{{userData.user_id}}"
        style="width: 300px"
      />
      <br />
      <input type="submit" />
    </form>

    <script>
      formElem.onsubmit = async (e) => {
        e.preventDefault();

        // 사용자 정보 수정
        let response = await fetch(
          "http://localhost:3000/app/users/" + user_id.value,
          {
            method: "PUT",
            body: new FormData(formElem),
          }
        );

        let result = await response.json();

        console.log(result);

        window.location.href = "/startPage";
      };
    </script>
  </body>
</html>
