<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Info</title>
  </head>
  <body>
    <p>건강한 해루질 문화를 위해 다음과 같은 사항들을 꼭 지켜주세요.</p>
    <h2>최종 사용자 정보 확인</h2>
    <div>user_id : <%= userData.user_id %></div>
    <div>kakao_id : <%= userData.kakao_id %></div>
    <div>nickname : <%= userData.nickname %></div>
    <div>image_url : <%= userData.image_url %></div>
    <div>status : <%= userData.status %></div>
    <div>cretead_at : <%= userData.created_at %></div>
    <div>update_at : <%= userData.updated_at %></div>
  </body>
</html>
